<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smgeha.domain.write.WriteRepository">
    <insert id="saveProduct" parameterType="com.smgeha.web.dto.write.WriteDto" useGeneratedKeys="true" keyProperty="id">
        insert into
        product (productId, title, serial, manufacture, size, type, createdDate, modifiedDate, img, sizeText, manufactureText )
        values (#{product}, #{title}, #{serial}, #{manufacture}, #{size}, #{type}, now(), now(), #{img}, #{sizeText}, #{manufactureText});
    </insert>
</mapper>